{% extends 'client/layout_client.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        {% for image in IMAGES %}
                            <img onclick="affImg({{ image.id_image }})" src="{{ image.url_image }}" alt="image de {{ MEUBLE.libelle_meuble }}" class="w-100" id="{{ image.id_image }}">
                        {% endfor %}
                    </div>
                    <div class="col-10">
                        <img src="{{ MEUBLE.url_image }}" alt="image de {{ MEUBLE.libelle_meuble }}" class="w-100" id="principal">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2>{{ MEUBLE.libelle_meuble }}</h2>
                <div>
                    <h3>Prix : {{ MEUBLE.prix_meuble }}€</h3>
                    <h3>Descritpion :</h3>
                    <ul>
                        <li>Type de meuble : {{ MEUBLE.libelle_type_meuble }}</li>
                        <li>Dimmension : {{ MEUBLE.dimension_meuble }}</li>
                        <li>Poids : {{ MEUBLE.poids_meuble }} Kg</li>
                        <li>Marque : {{ MEUBLE.libelle_marque }}</li>
                    </ul>
                </div>

                <form  action="/client/panier/add" method="post">
                    <input type="hidden" name="id_meuble" value="{{ MEUBLE.id_meuble }}">
                    <button class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart"></i>
                        Ajouter au panier
                     </button>

                    <div class="input-group input-group-sm" style="width: 4rem !important;">
                        <input type="number" id="input-{{ MEUBLE.id_meuble }}" step="1" min="0" max="{{ MEUBLE.stock_meuble }}" class="form-control" style="width: 4rem !important;" value="1" name="quantite">
                    </div>
                </form>
                <br>
                <div>
                    <a class="btn btn-warning" href="/client/meuble/show">
                        Retour
                    </a>
                </div>
            </div>
        </div>
        {% if avis %}
        <div>
            <h2>Avis</h2>
        </div>
        {% endif %}
        {% if commentaires %}
        <div>
            <h2>Commentaire(s)</h2>
        </div>
        {% endif %}
    </div>
{% endblock %}